<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>
</li>

{{!-- <div class="row justify-content-center my-1">
	<div class="col-12 grid__item">
	<button class="devoure-burger" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}{{name}}Devoure Da burger{{else}}{{name}}{{/if}}
	</button>
	</div>
</div> --}}